@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        $(document).ready(function () {
            const connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Information)
                .withAutomaticReconnect()
                .withUrl("https://localhost:7256/MyHub").build();

            $("#conStatus").text(connection.connectionState);

            connection.start().then(() => {
                $("#conStatus").text(connection.connectionState);
                $("#loading").hide();
                $("#saveButton").click(event => {
                    const message = $("#messageInput").val();
                    const user = $("#userInput").val();
                    connection.invoke("SendMessage", user, message).catch(err => console.error(err.toString()));
                    event.preventDefault();
                });
            });

            connection.onreconnecting(err => {
                $("#loading").show();
                $("#conStatus").text(connection.connectionState);
                console.log("onreconnection" + err);
            });

            connection.onreconnected(err => {
                $("#loading").hide();
                $("#conStatus").text(connection.connectionState);
                console.log("onreconnected" + err);
            });

        connection.on("ReceiveMessage", (user, message) => {
            const li = document.createElement("li");
            li.className = "list-group-item";
            li.style = "margin-bottom:10px";
            li.textContent = user + " says: " + message;
            document.getElementById("messagesList").appendChild(li);
        });
    });
    </script>
}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <form>
                    <div class="form-group">
                        <label for="userInput">User</label>
                        <input type="text" class="form-control" id="userInput" />
                    </div>
                    <div class="form-group">
                        <label for="messageInput">Message</label>
                        <input type="text" class="form-control" id="messageInput" />
                    </div><br />
                    <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
                </form>
                <br />
                <div class="alert alert-info" id="loading">
                    <div style="float:left;">
                        MAKING CONNECTION.. <strong id="conStatus"></strong>
                    </div>
                    <div style="float:right;">
                        <div class="spinner-border text-primary"  role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" id="messagesList"></ul>
            </div>
        </div>
    </div>